<%- include("template/cabecera", {tituloWeb: "PC"}) %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>
<div class="col-30 col-md-15 pt-5">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Genshin Impact</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/5.jpg">
        <p class="text-white px-5 pt-5">Es un juego de acción ARPG de mundo abierto free-to-play con 
            una mecánica de monetización de Gacha para conseguir elementos 
            adicionales como personajes especiales y armas. Es el tercer 
            videojuego desarrollado por miHoYo, tras Gun GirlZ y Honkai 
            Impact 3rd.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Ejemplo 2</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/6.jpg">
        <p class="text-white px-5 pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae numquam cumque magni nesciunt, dolorum illum porro adipisci itaque praesentium ipsum ut saepe assumenda ipsam aliquam, totam deserunt. Qui, accusantium!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, totam, autem officiis, perferendis quae sed amet ipsa molestias dolorem esse maxime ex modi delectus. Nesciunt atque ad, itaque accusantium vitae!</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Darkennes Rise</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/7.jpg">
        <p class="text-white px-5 pt-5">La única sobreviviente de una brutal masacre familiar 
            debe volver a visitar su hogar de la infancia en vísperas 
            de su destrucción y enfrentar su pasado, así como un mal mortal.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Asphalt 9: Legends</h3>
        <img class="item-image vh-100 vw-100" src="./img/celular/8.jpg">
        <p class="text-white px-5 pt-5">Es un videojuego de conducción gratuitos con micropagos 
            basados en nuevos vehículos y bonificaciones, entre otras 
            cosas. La versión de Switch tiene online para ocho jugadores, 
            varias opciones de control (incluida una que solo usa la pantalla 
            táctil), una "robusta" campaña para un jugador y casi 60 vehículos 
            licenciados como el Bugatti Chiron, el McLaren P1 y el Lamborghini 
            Terzo Millennio.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">League of legends</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/L.jpg">
        <p class="text-white px-5 pt-5">El juego consta de 3 modos actuales de juego en ejecución: La Grieta
            del Invocador, El Abismo de los Lamentos y Teamfight Tactics. Los 
            jugadores compiten en partidas, que duran entre 15 y 50 minutos en 
            promedio. En cada modo de juego, los equipos trabajan juntos para 
            lograr una condición de victoria, normalmente destruyendo la estructura
             central (llamado Nexo) en la base del equipo enemigo.</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>

<div class="col-30 col-md-15">
    <div class="item shadow mb-4">
        <h3 class="item-title text-white">Legends of Runeterra</h3>
        <img class="item-image vh-100 vw-100" src="/img/celular/legends.jpg">
        <p class="text-white px-5 pt-5">Legends of Runeterra se juega 1v1. Cada jugador comienza la partida
            con una mano de cuatro cartas seleccionadas al azar de su mazo de 
            cartas, un nexo de 20 puntos de vida y cero maná. Antes de que comience 
            la partida, cada jugador también tiene la opción de intercambiar cualquiera 
            de las primeras cuatro cartas que robaron por cartas diferentes al azar de su mazo.<br>
            Plataformas: Microsoft Windows · iOS · Android</p>
        <div class="item-details d-flex bd-highlight">
            <h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
            <button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
        </div>
    </div>
</div>
<section class="shopping-cart" id="misCompras">
	<div class="container">
		<h1 class="text-center text-white row justify-content-center col-12">CARRITO</h1>
		<hr>
		<div class="row justify-content-center col-12">
			<div class="col-6">
				<div class="shopping-cart-header">
					<h6 class="text-white">Producto</h6>
				</div>
			</div>
			<div class="col-2">
				<div class="shopping-cart-header">
					<h6 class="text-truncate text-white">Precio</h6>
				</div>
			</div>
			<div class="col-4">
				<div class="shopping-cart-header">
					<h6 class="text-white">Cantidad</h6>
				</div>
			</div>
		</div>
		<!-- ? START SHOPPING CART ITEMS -->
		<div class="shopping-cart-items shoppingCartItemsContainer text-white">
		</div>
		<!-- ? END SHOPPING CART ITEMS -->

		<!-- START TOTAL -->
		<div class="row container">
			<div class="col-12">
				<div class="shopping-cart-total d-flex align-items-center">
					<p class="mb-0 text-white">Total</p>
					<p class="ml-4 mb-0 shoppingCartTotal text-white">0€</p>
					<div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
						data-delay="2000">
						<div class="toast-header">
							<span>✅</span>
							<strong class="mr-auto ml-1 text-secondary text-white">Elemento en el carrito</strong>
							<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="toast-body text-white">
							Se aumentó correctamente la cantidad
						</div>
					</div>
					<div id="paypal-button-container"></div>	
					<button class="btn btn-success ml-auto comprarButton text-white" type="button" data-toggle="modal"
						data-target="#comprarModal">Comprar</button>
				</div>
				
			</div>
		</div>

		<!-- END TOTAL -->

		<!-- START MODAL COMPRA -->
		<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Pronto recibirá su pedido</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL COMPRA -->


	</div>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
<script src="js\tiendad.js"></script>
<script>
	paypal.Buttons({
	  // Sets up the transaction when a payment button is clicked
	   createOrder: function(data, actions) {
		return actions.order.create({
			purchase_units: [{
				amount: {
					  value: updateShoppingCartTotal() // Can reference variables or functions. Example: `value: document.getElementById('...').value`
				}
			}]
		});
	 },
	 // Finalize the transaction after payer approval
	 onApprove: function(data, actions) {
		  return actions.order.capture().then(function(orderData) {
		  // Successful capture! For dev/demo purposes:
			  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
			 var transaction = orderData.purchase_units[0].payments.captures[0];
			  alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
		  // When ready to go live, remove the alert and show a success message within this page. For example:
		  // var element = document.getElementById('paypal-button-container');
		  // element.innerHTML = '';
		  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
		  // Or go to another URL:  actions.redirect('thank_you.html');
		  });
	  }
	  }).render('#paypal-button-container');
  </script>