<%- include("template/cabecera", {tituloWeb: "PC"}) %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>
<div class="col-30 col-md-15 pt-5">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Hitman 3</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/9.png">
		<p class="text-white px-5 pt-5">Una nueva aventura para el Agente 47, quien deberá ejecutar 
			los contratos más importantes de toda su carrera. Para ello, 
			contará con el respaldo de Diana Burnwood, además de unir 
			fuerzas con Lucas Gray para poner fin de una vez por todas 
			a los aliados de Providence</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">Hood : Outlaws & Legends</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/10.jpg">
		<p class="text-white px-5 pt-5">es un videojuego de acción multijugador que se juega desde una perspectiva 
            en tercera persona. El jugador asume el control de un forajido que debe 
            infiltrarse en una fortaleza de un poder autoritario llamado Estado y competir 
            contra un equipo rival para robar el tesoro escondido en la bóveda de la fortaleza.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">The Medium</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/11.jpg">
		<p class="text-white px-5 pt-5">Ambientado en Polonia en los años 80, sigue los pasos de Marianne, 
			una medium que está atormentada por las visiones de un asesinato 
			infantil. Para descubrir las razones de aquel crimen, viajar a un 
			hotel abandonado en busca de respuestas.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">STALKER 2</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/12.jpg">
		<p class="text-white px-5 pt-5">Es un videojuego del género de disparos en primera persona 
			ambientado en un futuro posapocalíptico, el cual se ambientará 
			de nuevo en la Zona, un lugar inspirado en el área de exclusión 
			de la central nuclear de Chernóbil, en la actual Ucrania.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">LEFT 4 DEAD</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/left.jpg">
		<p class="text-white px-5 pt-5">Se trata de 4 personas donde deben sobrevivir repleto de zombis en un planeta
		    pos apocaliptico .<br>
		    En una serie de lugares en especifico donde aparecen diferentes 
			oleadas con diferentes tipos de zombis en el que deben sobrevivir para que llegue el
			helicoptero.<br>
			Hay cuatro protagonistas en el juego: Francis, un motero al margen de la ley (expresado
			por Vince Valenzuela), Bill, un veterano de la guerra de Vietnam (expresado por Jim French),
			Zoey, una estudiante universitaria (expresada por Jen Taylor) y Louis, un gerente de cuentas
		    del distrito (expresado por Earl Alexander).</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">ASSASIN'S CREDD VALHALLA</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/Assassins-Creed-Valhalla.jpg">
		<p class="text-white px-5 pt-5">Eivor, que nació al sur de Noruega en el año 847, es una leyenda vikinga con un gran dominio
            de la estrategia, y una entrega a su gente aún mayor. Se crio entre mitos nórdicos de batallas
             y gloria, y siempre soñó con demostrar su coraje y su valor en el combate. Al ver cómo las
              guerras incesantes y las hambrunas periódicas amenazaban el futuro de su clan, Eivor mira
               más allá del mar del Norte y emprende una expedición en busca de los reinos ricos y fértiles de Inglaterra.<br>
           Valhalla también contendrá elementos de la historia relacionados con los Isu, quienes,
            como parte de la tradición de la saga de Assassin's Creed Valhalla, una civilización 
            avanzada que es anterior a la humanidad.<br>
            Plataformas: Microsoft Windows · PlayStation 4 · Xbox One · PlayStation 5 · 
            Google Stadia · Xbox Series X y Series S · Amazon Luna</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>

<div class="col-30 col-md-15">
	<div class="item shadow mb-4">
		<h3 class="item-title text-white">RESIDENT EVIL</h3>
		<img class="item-image vh-100 vw-100" src="/img/xbox/R.jpg">
		<p class="text-white px-5 pt-5">Resident Evil es un videojuego del género survival horror donde el jugador asume el control 
			de un personaje perteneciente a un equipo de fuerzas especiales de la policía que se encuentra
			 dentro de una enorme mansión la cual está plagada de muertos vivientes y experimentos fallidos
			  practicados en animales los cuales acecharán al jugador poniendo en riesgo su vida.</p>
		<div class="item-details d-flex bd-highlight">
			<h4 class="item-price text-white px-5 p-2 w-100 bd-highlight">9.99€</h4>
			<button class="item-button btn btn-primary addToCart p-2 flex-shrink-0 bd-highlight mx-5">AÑADIR AL CARRITO</button>
		</div>
	</div>
</div>
<section class="shopping-cart" id="misCompras">
	<div class="container">
		<h1 class="text-center text-white row justify-content-center col-12">CARRITO</h1>
		<hr>
		<div class="row justify-content-center col-12">
			<div class="col-6">
				<div class="shopping-cart-header">
					<h6 class="text-white">Producto</h6>
				</div>
			</div>
			<div class="col-2">
				<div class="shopping-cart-header">
					<h6 class="text-truncate text-white">Precio</h6>
				</div>
			</div>
			<div class="col-4">
				<div class="shopping-cart-header">
					<h6 class="text-white">Cantidad</h6>
				</div>
			</div>
		</div>
		<!-- ? START SHOPPING CART ITEMS -->
		<div class="shopping-cart-items shoppingCartItemsContainer text-white">
		</div>
		<!-- ? END SHOPPING CART ITEMS -->

		<!-- START TOTAL -->
		<div class="row container">
			<div class="col-12">
				<div class="shopping-cart-total d-flex align-items-center">
					<p class="mb-0 text-white">Total</p>
					<p class="ml-4 mb-0 shoppingCartTotal text-white">0€</p>
					<div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
						data-delay="2000">
						<div class="toast-header">
							<span>✅</span>
							<strong class="mr-auto ml-1 text-secondary text-white">Elemento en el carrito</strong>
							<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="toast-body text-white">
							Se aumentó correctamente la cantidad
						</div>
					</div>
					<div id="paypal-button-container"></div>	
					<button class="btn btn-success ml-auto comprarButton text-white" type="button" data-toggle="modal"
						data-target="#comprarModal">Comprar</button>
				</div>
				
			</div>
		</div>

		<!-- END TOTAL -->

		<!-- START MODAL COMPRA -->
		<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Pronto recibirá su pedido</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END MODAL COMPRA -->


	</div>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
<script src="js\tiendad.js"></script>
<script>
	paypal.Buttons({
	  // Sets up the transaction when a payment button is clicked
	   createOrder: function(data, actions) {
		return actions.order.create({
			purchase_units: [{
				amount: {
					  value: updateShoppingCartTotal() // Can reference variables or functions. Example: `value: document.getElementById('...').value`
				}
			}]
		});
	 },
	 // Finalize the transaction after payer approval
	 onApprove: function(data, actions) {
		  return actions.order.capture().then(function(orderData) {
		  // Successful capture! For dev/demo purposes:
			  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
			 var transaction = orderData.purchase_units[0].payments.captures[0];
			  alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
		  // When ready to go live, remove the alert and show a success message within this page. For example:
		  // var element = document.getElementById('paypal-button-container');
		  // element.innerHTML = '';
		  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
		  // Or go to another URL:  actions.redirect('thank_you.html');
		  });
	  }
	  }).render('#paypal-button-container');
  </script>